/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background: #f4f4f4;
}

/* Encabezado y menú */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: #333;
    color: rgb(27, 194, 102);
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Sección Principal */
.hero {
    background: url('https://source.unsplash.com/1600x900/?technology') no-repeat center center/cover;
    color: rgb(92, 33, 187);
    padding: 100px 20px;
}

.hero h1 {
    font-size: 3rem;
}

.btn {
    display: inline-block;
    background: blue;
    color: rgb(29, 212, 90);
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 10px;
    border-radius: 5px;
}

/* Sección de información */
.info {
    padding: 50px 20px;
    background: white;
}

.info h2 {
    font-size: 2rem;
    font-family: cursive;
}

/* Pie de Página */
footer {
    background: #222;
    color: white;
    padding: 15px;
    margin-top: 20px;
}

footer .social a {
    color: white;
    margin: 10px;
}
